body {
  margin: 0;
}
.images-container ul {
  list-style: none;
  font-size: 0;
  padding: 0;
  margin: 0 auto;
}

.images-container li {
  position: relative;
  display: inline-block;
  margin: 0.25em;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 16px;
  height: 120px;
  width: 240px;
  overflow: hidden;
  background: #eee;
  color: #fff;
}

.images-container {
  display: block;
  margin: 0 auto;
  padding: 0.25em;
  user-select: none;
  text-align: center;
  max-width: 1024px;
  min-width: 240px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.images-container img {
  cursor: pointer;
  display: block;
  object-position: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  color: transparent;
}

@media screen and (max-width: 575.98px) {
  .images-container ul {
    margin: 0 4px;
  }

  .images-container li {
    width: 100%;
    margin: 4px 0;
    text-align: center;
    height: 196px;
  }

  .images-container img {
    text-align: center;
    margin: 0 auto;
  }
}