:root {
    --primary: #fffbf5;
    --primary1: #d0d0d0;
    --secondary: #e9e9e9;
    --secondary1: #EEE;
    --color1: var(--secondary);
    --color2: var(--primary1);
}

html {
    overflow-y: auto;
    scroll-padding-top: 3em;
    scroll-behavior: smooth;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
    border: 10px solid #edd7c2;
    border-top: 10px solid #fff;
    z-index: 1;
    border-bottom: 10px solid #fff;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAABlBMVEUAAABPT09PI3z5AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfiAgQAGyT3z/tVAAAAFklEQVQI12OwZ2Cob2D4fwAdAQXtGQDDgwz3SpwhkwAAAABJRU5ErkJggg==) center;
    border-radius: 50%;
    min-width: 48px;
    min-height: 48px;
    animation: spin .5s steps(7) infinite
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

body {
    overflow-x: hidden;
    background: var(--secondary1);
    font: 300 16px/1.5em Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-display: optional;
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-size: 1.5em;
    line-height: 2em;
    padding-top: .667em;
    margin-bottom: .333em
}
.panel {
    border-radius: 0 !important;
    position: relative;
}
h4,
p {
    font-size: 1em;
    line-height: 1.5em;
    padding-top: .438em;
    margin-bottom: 1.06em
}

blockquote,
ol,
p,
pre,
table,
ul {
    margin-top: 0
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-top: 0;
    margin-bottom: 0
}

.hr,
hr {
    border: 1px solid;
    margin: -1px 0
}

a,
b,
code,
em,
i,
small,
strong {
    line-height: 0
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

#photo,
#comments {
    scroll-margin-top: 3em;
    padding: 24px;
}

.about,
#accordion,
#photo,
#video,
.container {
    overflow: hidden;
    max-width: 780px
}

.container:after {
    display: block;
    overflow: hidden;
    content: ' ';
    clear: both
}

h1 {
    font-size: 20px;
    text-align: center
}

h2 {
    font-size: 16px
}

h3 {
    text-align: center
}
#HCB_comment_box h3 {
    display: none;
}
.texts {
    color: #fff;
    text-shadow: -1px -1px 0 #ccc, -2px -2px 2px #eee, 1px 1px 0 #ccc, 2px 2px 2px #aaa;
    letter-spacing: 2px;
    position: relative
}

object {
    margin: 0 auto 25px;
    display: block
}

ul {
    list-style-position: inside;
    list-style: none
}
.links a{margin: 0 1em 0 0}
a,
a:active,
a:focus,
a:visited {
    outline: 0;
    color: #313a88;
    text-decoration: none;
    color: #333 !important;
}

a:hover {
    color: #111;
}

header {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 50px;
    background: var(--secondary);
}

.arrowd {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 150px solid #edd7c2;
    display: block;
    z-index: 1;
    position: relative;
    bottom: 4px;
    font-size: 0;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer
}

.arrowd:hover:before {
    display: block
}

.arrowd:before {
    display: none;
    font-size: 14px;
    content: "Scroll down";
    width: 160px;
    height: 24px;
    line-height: 24px;
    position: relative;
    margin: -170px 0 0 -80px;
    text-align: center;
    background: var(--primary1);
    border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    z-index: 10
}

.arrowd:hover {
    border-top: 150px solid var(--primary1);
}

#keyword {
    padding: 0 24px;
    color: #111;
    position: absolute;
    bottom: 72px;
    right: 0;
    display: block;
    height: 24px;
    width: 100%;
    text-align: center;
}

#logo {
    padding-top: 2px;
    position: relative;
    display: block;
    float: left;
    width: 48px;
    height: 48px;
}

#headOut {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: calc(100% - 48px);
    display: block;
    background: var(--secondary1);
}

#headOut:after {
    display: block;
    width: 100px;
    height: 2px;
    background: var(--secondary1);
}

.pause {
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    -o-animation-play-state: paused !important;
    animation-play-state: paused !important
}

#headImage {
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    animation: 7s steps(672) infinite headAnim alternate
}

.about {
    text-align: justify
}

.okty .panel-collapse:target{
    height: auto !important;
}
html[lang="lt"] .en,
html[lang="en-us"] .lt{
display: none;
}
#langue{
width: 96px;
text-indent: -9999px;
overflow: hidden;
}
html[lang="en-us"] #langue{
background: url(../img/Lithuania-Flag.svg) 0 center no-repeat content-box;
}
html[lang="lt"] #langue{
background: url(../img/United-States-Flag.svg) 0 center no-repeat content-box;
}
@keyframes headAnim {
    0% {
        transform: translate3d(52px, 22px, 0) scale3d(1.5, 1.5, 1);
    }

    50% {
        transform: translate3d(-52px, 52px, 0) scale3d(2, 2, 1);
    }

    100% {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}

.logo,
.logo::after,
.logo::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.thumbnail {
    background: 0 0;
    padding: 0;
    cursor: pointer
}

.load {
    width: 120px;
    height: 48px;
    margin: auto;
    font-size: 24px;
    line-height: 24px;
    animation: 1s ease-in infinite load
}

.navbar-default {
    padding: 0 1em;
    background: var(--primary);
}

.navbar-nav,
.dropdown-menu {
    background: var(--primary);
}

.navbar-brand {
    height: 50px;
    padding: 0;
    margin: 0 10px 0 0;
    font-size: 24px;
    line-height: 50px
}

.panel-heading a {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    width: 100%;
    padding: 0 48px;
}
.panel-title,
.panel-heading {
    padding: 0
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.panel-default>.panel-heading,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-nav li a:focus,
.navbar-nav li:active,
.navbar-nav li:hover,
.panel-default>.panel-heading {
    background-color: var(--primary);
}

.collapse {
    display: block !important;
    overflow: hidden;
    scroll-margin-top: 96px;
}
.thumbnail img {
    width: 100%;
    image-rendering: crisp-edges;
}

footer {
    min-height: 120px
}

@media only screen and (max-width:768px) {
    header {
        height: 200px
    }

    #headOut {
        height: 130px
    }

    #keyword {
        display: none
    }

    .navbar-toggle {
        background: var(--secondary);
    }
}

@media only screen and (min-width:481px) {
    #headImage {
        background: url(../img/logo.jpg) no-repeat center/cover;
        image-rendering: optimizespeed;
    }
}

@media only screen and (max-width:480px) {
    #headImage {
        background: url(../img/logo480.jpg) no-repeat center top
    }
}

@keyframes rote {
    from {
        transform: rotate(10deg);
    }

    to {
        transform: rotate(-10deg);
    }
}

.drunktext i {
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
    font-synthesis: none;
    font-style: normal;
    font-size: 14px;
}

.drunktext i:empty {
    width: 1ch;
}

.drunked i {
    animation: 0.1s ease-in-out rote infinite;
}

.drunked i:nth-child(odd) {
    animation-direction: alternate-reverse;
}

.drunked i:nth-child(2n) {
    animation-direction: alternate;
}

.panel-collapse.collapse::after {
    content: "::";
    position: absolute;
    top: 0;
    display: block;
    left: 0;
    line-height: 3;
    padding: 0 1em;
    pointer-events: none;
    width: 48px;
text-align: center;
}
.panel-collapse.collapse.in::after {
    content: "^";
}
